.step-content {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#form {
  width: 100vw;

  .container {
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .form-body {
    display: flex;
    flex-direction: column;
    gap: 10px;

    input {
      width: 100%;
      height: 35px;
      background-color: white;
      border-radius: 3px;
      //border: 1px solid #5a5a5a;
    }

    input[type="radio"] {
      width: 20px;
      height: 20px;
      margin-right: 0px;
      padding-left: 10px;
      align-self: center;
      //-webkit-appearance: none;
    }

    select {
      width: 100%;
      height: 43px;
      border-radius: 3px;
      background-color: white;
      color: #5a5a5a;
      //border: 1px solid #5a5a5a;
    }
    .radio-group.col.col-12 {
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 3px;
      border: 1px solid #5a5a5a;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-gap: 0px;
    }
    .radio-info {
      padding: 0;
      margin: 0;
    }
  }
}

// StepProgress
.StepProgress {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background: goldenrod;

  h3 {
    color: black;
    font-size: large;
    padding-top: 10px;
    padding-left: 10px;
  }
  .Step {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
  }

  .circle-container {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid darkgrey;
    color: black;
    margin: 0;
    margin-right: 10px;
  }
  &.checked .circle-container::after {
    content: "\2714";
  }
  .connect-line {
    display: block;
    height: 3px;
    background-color: lightgrey;
    position: absolute;
    top: 100px;
    right: 50%;
    left: -50%;
  }
}

.progress-control {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  margin-top: 20px;
  padding-top: 20px;
  .previousBtn {
    margin-left: 10px;
    background: transparent;
    border-style: none;
    width: 174px;
    height: 46px;
    border-radius: 8pt;
    color: black;
    font-size: 14px;
  }
  .nextBtn {
    margin-left: 500px;
    background-color: #f67599;
    border-style: none;
    width: 174px;
    height: 46px;
    border-radius: 8pt;
    color: white;
    font-size: 14px;
  }
  .arrow {
    width: 20px;
    height: 9px;
    position: relative;
  }
}
