#form .form-body {
  .col:nth-child(1) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  }

  .col:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .col:nth-child(3) {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  }

  select {
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: white;
    color: #5a5a5a;
    border: 1px solid #5a5a5a;
  }
  .title,
  .city {
    width: 158px;
  }

  .Username {
    width: 350px;
  }
  .address {
    width: 350px;
  }
  .phone {
    width: 251px;
  }
  .email {
    width: 255px;
  }
}

.form-title {
  padding-bottom: 10px;
}
