/*reset */
html,
body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

a {
  text-decoration: none;
  color: black;
  font-size: small;
}

ul {
  list-style-type: none;
}
/*reset end*/

:root {
  --background-color: #ffffff;
  --white: #ffffff;
  --pink: #f67599;
  --grey-800: #2a2a2a;
  --grey-700: #333333;
  --grey-400: #808080;
  --grey-300: #999999;

  --site-edge-margin: 15px;

  --main-font-family: "Noto Sans TC", sans-serif;
}

body {
  --background-color: #ffffff;
  --footer-background-color: #f6f7f8;
  --nav-icon: #2a2a2a;
  --social-icon: #808080;
  --main-text: #2a2a2a;
  --secondary-text: #808080;
  --active-color: lightblue;

  --undone-progress-border: #f0f0f5;
  --done-progress-border: #000000;
  --progress-current-color: #2a2a2a;
  --progress-undone-color: #afb1bd;
  --pg-addr-color: #ffffff;
  --pg-addr-bg-color: #2a2a2a;
  --input-label: #808080;
  --input-border: #4a4a4a;
  --input-text: #999999;
  --select-arrow: #2a2a2a;
  --select-true: #2a2a2a;
  --select-false: #999999;
  --product-action-text: #000000;
  --product-action-bg: #f0f0f5;
  --left-arrow: #000000;

  background-color: var(--background-color);
  color: var(--main-text);
  font-family: var(--main-font-family);
  font-size: 16px;
  user-select: none;
}

.container {
  margin: 0px 15px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mr-auto {
  margin-right: auto !important;
}
.cursor-point {
  cursor: pointer;
}

footer {
  flex-grow: 1;
}

@import "./Header.scss";
@import "./Form.scss";
@import "./Footer.scss";
@import "./Cart.scss";
@import "./Step1.scss";
@import "./Step3.scss";
@import "./StepProgress.scss";
