@charset "UTF-8";
/*reset */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
menu {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

table {
  border: none;
  border-spacing: 0;
  border-collapse: collapse;
}

th,
td {
  text-align: initial;
}

a {
  text-decoration: none;
  color: black;
  font-size: small;
}

ul {
  list-style-type: none;
}

/*reset end*/
:root {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: white;
}

a {
  font-weight: 500;
  color: black;
  text-decoration: inherit;
  justify-items: flex-start;
  padding: 1.5rem;
  margin-top: 0;
}

.menu {
  padding-left: 0.5rem;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1;
}

.Header {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: burlywood;
}

.logo {
  size: 50px 50px;
}

.header-nav {
  margin: 0;
  padding: 0;
}
.header-nav ul {
  display: flex;
  justify-content: flex-start;
  margin-right: 1rem;
}
.header-nav ul li {
  padding: 2rem 1rem;
}
.header-nav ul li a {
  font-size: 1.25rem;
  color: black;
}

i {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 0.5rem;
}

.logo {
  background-image: url("../assets/pictures/logo.svg");
  background-size: contain;
  position: absolute;
  top: 0;
  left: 50%;
  width: 250px;
  height: 50px;
}

.step-content {
  margin: 20px;
}
.step-content Form {
  display: flex;
  flex-direction: column;
}
.step-content Form .input-label {
  color: #808080;
  font-weight: 700;
  font-size: 12px;
  padding-bottom: 0px;
}
.step-content Form .input-group {
  margin: 10px 10px;
}
.step-content Form option {
  color: black;
  background-color: white;
}
.step-content Form input {
  border: 1px solid #4a4a4a;
}
.step-content .form-title {
  color: #2a2a2a;
  padding: 20px 10px 5px;
  font-weight: 700;
  font-size: 24px;
}
.step-content .radio-info {
  position: relative;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #f0f0f5;
  font-weight: 400;
}
.step-content .radio-info .period {
  padding-left: 30px;
  font-weight: 400;
}
.step-content .radio-info #radio {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  margin-bottom: 5px;
  color: #2a2a2a;
}
.step-content .radio-info .radio-info .input:checked {
  border: 1px solid #2a2a2a;
}
.step-content .radio-info input[type=radio i] {
  border-radius: 50%;
  background-size: 20px 20px;
  color: black;
  margin-right: 10px;
}
.step-content .radio-info input[type=radio]:checked {
  outline: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}
.step-content .radio-info .choice-title {
  padding-top: 20px;
}
.step-content .radio-info .price {
  position: absolute;
  left: 520px;
  top: 13px;
  font-weight: 400;
  font-size: 12px;
  color: #000000;
}
.step-content .radio-info .name {
  width: 350px;
  border: 1px solid #4a4a4a;
}
.step-content .StepProgress {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background: goldenrod;
}
.step-content .StepProgress h3 {
  color: black;
  font-size: large;
  padding-top: 10px;
  padding-left: 10px;
}
.step-content .StepProgress .Step {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-align: center;
}
.step-content .StepProgress .circle-container {
  height: 24px;
  width: 24px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid darkgrey;
  color: black;
  margin: 0;
  margin-right: 10px;
}
.step-content .StepProgress.checked .circle-container::after {
  content: "✔";
}
.step-content .StepProgress .connect-line {
  display: block;
  height: 3px;
  background-color: lightgrey;
  position: absolute;
  top: 100px;
  right: 50%;
  left: -50%;
}
.step-content .progress-control {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.step-content .progress-control .previousBtn {
  margin-left: 10px;
  background-color: transparent;
}
.step-content .progress-control .nextBtn {
  margin-left: 500px;
  background-color: #f67599;
  width: 174px;
}

.footer-container {
  display: flex;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #f6f7f8;
}
.footer-container .footer-logo-container {
  display: flex;
  left: 0;
  right: 0;
  height: 32px;
  width: 172px;
}
.footer-container .footer-logo-container img {
  height: 100%;
  width: 100%;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 24px;
}
.footer-section .section-title {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: var(--main-text);
}
.footer-section .section-content {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  color: var(--secondary-text);
}
.footer-section .section-content > * {
  color: inherit;
}
.footer-section .section-content .page-link {
  margin-bottom: 8px;
  font-weight: normal;
  line-height: 17px;
  text-decoration: none;
  cursor: pointer;
}
.footer-section .section-content .tel-info {
  margin-bottom: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  line-height: 16px;
}
.footer-section .section-content .social-icon {
  width: 24px;
  height: 24px;
  margin-right: 16px;
}/*# sourceMappingURL=Style.css.map */